<div class="row">
    <div class="col-xl-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" *ngIf="shopService.currentShop">
                <i class="fa fa-home"></i> <a href="Javascript:void(0)" (click)="openMenu()">{{shopService.currentShop.name}}</a>
            </li>
            <li *ngFor="let p of parents" class="breadcrumb-item">
               <a href="Javascript:void(0)" [routerLink]="['/' + p.link]">{{p.name}}</a>
            </li>
            <li class="breadcrumb-item active">{{heading}}</li>
        </ol>
    </div>
</div>
