<div>
    <div mat-dialog-title>
        <label>Bạn có chắc chắn muốn hủy bánh này?</label>
    </div>

    <mat-dialog-content style="min-height:200px; padding: 20px;">
        <fieldset>
            <label>Vui lòng cho biết lý do</label>
            <input [(ngModel)]="productBarcode.destroyedReason" class="form-control">
        </fieldset>
    </mat-dialog-content>
    
    <div class="row"  >
            <mat-chip-list>
                <mat-chip  color="primary" selected *ngFor="let tc  of chips" (click)="productBarcode.destroyedReason = tc">{{tc}}</mat-chip>
            </mat-chip-list>
        </div>

    <mat-dialog-actions style="justify-content: flex-end;float: right;">
        <button mat-button mat-dialog-close>Không</button>
        <button mat-button color="warn" [disabled]="!productBarcode.destroyedReason" (click)="ok()">Có</button>
    </mat-dialog-actions>
</div>