<div>
  <div mat-dialog-title>
    <label>Đổi mật khẩu</label>
  </div>

  <mat-dialog-content>
    <div class="col-md-12" style="padding: 10px;">
      <fieldset>
        <label>Mật khẩu mới: &nbsp;&nbsp;</label>
        <input type="password" class="form-control" [(ngModel)]="password.newPassword"
          style="width: 50%; max-width: 100%;">
      </fieldset>
    </div>
    <div class="col-md-12" style="padding: 10px;">
      <fieldset>
        <label>Nhập lại mật khẩu mới: &nbsp;&nbsp;</label>
        <input type="password" class="form-control" [(ngModel)]="password.confirmPassword"
          style="width: 50%; max-width: 100%;">
      </fieldset>
    </div>

    
  </mat-dialog-content>

  <mat-dialog-actions style="justify-content: flex-end;float: right;">
    <button mat-button mat-dialog-close>Huỷ</button>
    <button color="primary"
      [disabled]="!password.newPassword || (password.newPassword != password.confirmPassword)"
      (click)="changePassword()" mat-raised-button>Cập nhật</button>
  </mat-dialog-actions>
</div>