.ft {
    padding: 10px;
    font-size: x-large;
}

.img-member{
    width: 40px;
    border-radius: 1.25cm;
    margin-right: 5px;
}

.padding{
    padding: 10px;
    width: 15%; 
}

.text-align{
    width: 25%;
    text-align: center;
}