<div >
        <h3>{{material.name}}</h3>
          <ngx-datatable
                #table
                class='material no-shadow'
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="10"
                [rows]='rows'>

                <ngx-datatable-column name="Description">
                        <ng-template let-column="column" ngx-datatable-header-template>
                           Ngày nhập
                          </ng-template>
                        <ng-template  let-row="row" ngx-datatable-cell-template>
                            <div> {{row.createdDate | date}}</div>
                        </ng-template>
                    </ngx-datatable-column>

                <ngx-datatable-column name="unitPrice">
                        <ng-template let-column="column" ngx-datatable-header-template>
                           {{'Detail'| translate}}
                          </ng-template>
                        <ng-template  let-row="row" ngx-datatable-cell-template>
                            <span style="font-weight: bold"> {{row.unitPrice | currencyformat}} </span><span> x {{row.quantity}}</span>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Tổng">
                            <ng-template let-column="column" ngx-datatable-header-template>
                               {{'Amount'| translate}}
                              </ng-template>
                            <ng-template  let-row="row" ngx-datatable-cell-template>
                                <span> {{row.unitPrice * row.quantity | currencyformat}}</span>
                            </ng-template>
                        </ngx-datatable-column>
      </ngx-datatable>

    <mat-dialog-actions style="justify-content: flex-end;float: right;">
        <button mat-button mat-dialog-close>Đóng</button>
    </mat-dialog-actions>
</div>