<div class="row">
    <div class="col-md-4">
        <fieldset class="form-group" *ngIf="type != SaleType.DiscountPercent">
            <label class="priceChip">Giá</label>
            <label *ngIf="type == 4">Phần trăm</label>
            <input currencyMask [options]="currencyMaskOptions" [(ngModel)]="priceChip.value" class="form-control"
                #priceChipInput inputWithNumpad>
        </fieldset>
        <fieldset class="form-group" *ngIf="type == SaleType.DiscountPercent">
            <label class="priceChip">Phần trăm</label>
            <input currencyMask [options]="percentMaskOptions" [(ngModel)]="priceChip.value" class="form-control"
                #priceChipInput inputWithNumpad>
        </fieldset>
    </div>

    <div class="col-md-4">
        <!-- <fieldset class="form-group">
            <label>Màu nền</label>
            <input [style.background]="priceChip.background" class="form-control"
                [cpOKButton]="true" cpOKButtonText="Save" (colorPickerSelect)="priceChip.background=$event;" />
        </fieldset> -->
    </div>

    <!-- <div class="col-md-4">
        <fieldset class="form-group">
            <label>Màu số</label>
            <input [style.background]="priceChip.color" [colorPicker]="priceChip.color" [cpOKButton]="true"
                class="form-control" cpOKButtonText="Save" (colorPickerSelect)="priceChip.color=$event;" />
        </fieldset>
    </div> -->
</div>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Hủy</button>
    <!-- Can optionally provide a result for the closing dialog. -->
    <button mat-button color="primary" [mat-dialog-close]="priceChip">Đồng ý</button>
</mat-dialog-actions>
