mat-dialog-content{
  min-height: 390px;
}

.mat-dialog-title{
  background: #263238;
  color: rgba(255,255,255,0.87);
  padding: 18px;
  margin: -24px;
  margin-bottom: 46px;
}

mat-dialog-actions{
  border-top: 1px solid #ddd;
  display: block;
}

::ng-deep .mat-grid-tile .mat-figure {
  justify-content: end !important;  /*horizontal alignment*/
  padding: 20px!important;
}

mat-grid-list{
  background: whitesmoke;
}

mat-form-field{
  padding: 5px;
}

