<div id="supported" style="padding: 0;">
    <div class="row col-md-12">
        <div class="photo-ask col-md-4">
            <div class="bg-photo"></div>
        </div>
        <div class="photo-content col-md-8">
            <h3 class="margin-top">Nhận Hỗ Trợ</h3>
            <span class="margin-top">Để cho phép chúng tôi truy cập điều khiển máy tính và hỗ trợ bạn, hãy nhấn nút
                tải xuống.
            </span>
            <div style="margin-top: 80px;">
                <span>Bấm vào để tải/ mở ứng dụng Chrome Remote Desktop</span>
                <a class="btn-transf" role="button" matTooltip="Tải/ Mở Chrome Remote Desktop" matTooltipPosition="left"
                    (click)="openDownload()">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x btn-download"></i>
                        <i class="fa fa-download fa-stack-1x" style="color: #ffffff;"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>

    <div class="row" style="margin: 25px;">
        <div class="col-md-4" style="border-bottom: 1px solid #39b2ee"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4" style="border-bottom: 1px solid #39b2ee"></div>
    </div>

    <div class="row col-md-12">
        <!-- <a class="continue" (click)="sendAccessCode()">
            <span>Hướng Dẫn <i class="fa fa-chevron-right" aria-hidden="true"></i></span>
        </a> -->
        <div class="user-ico col-md-4">
            <div class="bg-ico"></div>
        </div>
        <div class="photo-content col-md-8">
            <h3 class="margin-top">Cung Cấp Hỗ Trợ</h3>
            <span class="margin-top">Sau khi chạy Chrome Remote Desktop App. Lựa chọn <b>Chia sẻ</b> để tạo mã
                truy cập.
            </span>

            <img src="../../../../../assets/img/photos/ChromeRemoteDesktop.png" alt="Tạo mã truy cập" style="width:100%; margin:12px 0;">

            <span class="margin-top">Liên hệ với chúng tôi để cung cấp mã truy cập.</span>
            <br>
            <span class="margin-top">Vui lòng để ứng dụng chạy, vì mã truy cập <b>chỉ sử dụng một lần</b>.</span>
        </div>
    </div>

</div>
