.product-category-container .bg-primary{
    opacity: 0.5;
}
.product-category-container{
    background-repeat: no-repeat !important;
}

.category-img{
    max-width: 15%;
    height: auto;
}

.accessory-img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
}