.not-click {
    cursor: context-menu;
    padding: 35px 0px 35px 0px;
}

.extend-btn {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    //width: 100px; /* Need a specific value to work */
    bottom: 0;
}

mat-spinner {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.card-body.stats {
    height: 35%;
}

.smallerPage {
    -webkit-transform: scale(0.87);
    -moz-transform: scale(0.87);
    -ms-transform: scale(0.87);
    transform: scale(0.87);
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
}

.noti-header {
    background-color: #00b0ff;
    color: white;
    padding: .5rem 1rem !important;
    font-size: larger;
}

.noti-body {
    img {
        padding: 0 !important;
    }
}

#workshift {
   // margin-right: 12.5%;
}

@media screen and (max-width: 320px) {
    #workshift {
        margin: auto;
        padding: auto;
    }
}

.badge2 {
    position: absolute;
    top: -10%;
    border-radius: 50%;
    background: red;
}