
<section style="background-color: #263238;display: inline-flex;float:left">
        <button (click)="$event.stopPropagation();close()" style="position: absolute;margin-top: -45px;margin-left: -14px;" color="warn"  mat-fab >
                <mat-icon color="white">close</mat-icon>
            </button>
            <button (click)="$event.stopPropagation();toggleIsTimeLine()" style="position: absolute;margin-top: -45px;margin-left: 50px;" color="accent"  mat-fab >
                    <mat-icon color="white">list</mat-icon>
            </button>
            <div (click)="checkout()" style="margin-top: 24px;">
                <div style="color: white;">
                    <h3>
                        {{quickOrderService.getTotal() | currencyformat}}
                    </h3>
                </div>
            </div>
        <!-- members container -->
        <div class="scrollmenu">
        
            <a *ngFor="let m of shopService.sellMembers" >
                <div (click)="selectMember(m)">
                    <img class="member-avatar {{m.gender === 1 ? 'female' : 'male'}}" src="{{m.image || '../../../../../assets/images/avatar_placeholder.png'}}" >
                    <p>{{m.name}}</p>
                </div>
        
            </a>
        </div>
</section>


<!-- 
<div class="container top" (click)="checkout()">


</div> -->
