<mat-dialog-content style="overflow-y: auto;min-height: 200px;">
    <div class="row col-md-12">
        <h3>{{currentProduct.name}}<span> - SL hiện có: {{currentProduct.total}}</span></h3>

        <fieldset>
            <label>Nhập Số Lượng</label>
            <input (keyup.enter)="createOrUpdateProduct()" type="number" [(ngModel)]="newHardBlockProductBarcode.count"
                class="form-control">
        </fieldset>

        <br />
        <hr />
        <div>
            <mat-checkbox>Tạo Hoá Đơn Chi</mat-checkbox>
            <div>
                
            </div>
        </div>

    </div>
</mat-dialog-content>

<mat-dialog-actions style="padding: 15px;float: right">
    <button *ngIf="!isLoading" class="btn btn-raised mr-1 shadow-z-1" mat-dialog-close>Hủy</button>
    <button *ngIf="!isLoading" class="btn btn-raised mr-1 shadow-z-1 btn-success" [disabled]="!newHardBlockProductBarcode.count || newHardBlockProductBarcode.count < 1"
        (click)="isLoading = true;createOrUpdateProduct()">Đồng ý</button>

    <span *ngIf="isLoading" style="display: -webkit-inline-box;">
        <mat-spinner [diameter]=20></mat-spinner> {{loadingMessage}}
    </span>
</mat-dialog-actions>