.panel-detail{
    background: #eee;
    padding: 15px;
}

.panel-label{
    color: #6b7bf1
}

td.panel-label{
    color: #6b7bf1;
    float: right;
}

td.panel-value{
    color: black;
    width: 55%;
}