<div class="numpad-container">
    <div class="playground">
        <!-- All you need to play with -->
        <div class="numpad">
            <div (click)="appendCustomerMoney(1)" class="button">1</div>
            <div (click)="appendCustomerMoney(2)" class="button">2</div>
            <div (click)="appendCustomerMoney(3)" class="button">3</div>
            <div (click)="appendCustomerMoney(4)" class="button">4</div>
            <div (click)="appendCustomerMoney(5)" class="button">5</div>
            <div (click)="appendCustomerMoney(6)" class="button">6</div>
            <div (click)="appendCustomerMoney(7)" class="button">7</div>
            <div (click)="appendCustomerMoney(8)" class="button">8</div>
            <div (click)="appendCustomerMoney(9)" class="button">9</div>
            <div (click)="appendCustomerMoney(0)" class="button">0</div>
            <div (click)="appendCustomerMoney('back')" class="button">&larr;</div>
        </div>

    </div>
</div>